:root{
  --red:#E50914;
  --black:#141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
----------------
base elements
----------------
*/
body{
  background:var(--black);
  color: #fff;
}

header .container{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  color: red;
  font-family: "Arial Black", Times;
  font-size: 40px;
}

header nav a{
  text-decoration: none;
  color: #aaa;
  margin-left: 10px;
}

header nav a:hover{
  color: #fff;
}

/*
----------------
main movie
----------------
*/
.main-movie{
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)100%),
  url("./images/banner.jpg") center/cover no-repeat;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .title{
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-movie .description{
  margin-bottom: 30px;
}